*{
    font-family: Arial;
    font-size: 14px;
    margin: 0;
    padding: 0;
    border: none;
}

body{
    background-color: #e2e2e2;
}
a{
    text-decoration: none;
}

/*头部*/
header{
    position: relative;
    height: 80px;
    background-color: #000000;
}

header::after{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 7px;
    content: '';
    background-color: #d6d6d6;
}

header>.container{
    position: relative;
    z-index: 1;
    width: 1260px;
    margin: 0 auto;
}

header>.container>a{
    display: block;
    float: left;
    margin: 5px 25px;
}

header>.container> nav{
    float: right;
}

header>.container>nav>a{
    display: block;
    float: left;
    text-align: center;
    font-size: 24px;
    color: #ffffff;
    width: 100px;
    height: 73px;
    line-height: 73px;
    margin-right: 35px;
}

header>.container>nav>a.active{
    padding-bottom: 7px;
}

/*main*/
.main{
    padding: 0;
    margin: 0;
    text-align: center;
}
.main h1{
    color: #ff1275;
    font-size: 30px;
    margin-top: 300px;
}

.main small{
    font-size: 20px;
    font-weight: lighter;
    font-family: "Arial";
}

.main strong{
    border: black;
    line-height: 90px;
}

.main em{
    text-shadow: 2px 2px 2px #2d0920;
}